@charset "UTF-8";

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar-default {
  background-color: white;
}

.navbar-default .navbar-brand {
  color: black;
}

.navbar-brand {
  font-size: 40px;
  font-family: cursive;
  color: black;
  margin-top: 10px;
  margin-bottom: 20px;

  img {
    display: inline;
  }
}

.navbar-nav {
  padding-top: 20px;
  font-size: 20px;
}

.navbar-text {
  padding-top: 16px;
  font-size: 20px;
}

.personal{
  background-color: #fafafa;
}

.contents_personal{
  display: flex;
  justify-content: center;
}

.username {
  margin-left: 20px;
}